body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1500px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  display:flex;
}
.u352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
.u353 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:50px;
  width:166px;
  height:35px;
  display:flex;
  color:#8C8C8C;
}
.u353 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#8C8C8C;
}
.u354 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:12px;
  width:156px;
  height:23px;
  display:flex;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#8C8C8C;
}
.u354 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u354_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:80px;
}
.u355 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:90px;
  height:80px;
  display:flex;
}
.u355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u350-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u350-2 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:300px;
  height:100px;
}
#u350-3 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:300px;
  height:100px;
}
#u350-4 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:0px;
  width:300px;
  height:100px;
}
#u350-5 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:0px;
  width:300px;
  height:100px;
}
#u350-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:103px;
  width:300px;
  height:100px;
}
#u350-7 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:103px;
  width:300px;
  height:100px;
}
#u350-8 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:103px;
  width:300px;
  height:100px;
}
#u350-9 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:103px;
  width:300px;
  height:100px;
}
#u350-10 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:103px;
  width:300px;
  height:100px;
}
#u350-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:206px;
  width:300px;
  height:100px;
}
#u350-12 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:206px;
  width:300px;
  height:100px;
}
#u350-13 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:206px;
  width:300px;
  height:100px;
}
#u350-14 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:206px;
  width:300px;
  height:100px;
}
#u350-15 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:206px;
  width:300px;
  height:100px;
}
#u350-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:309px;
  width:300px;
  height:100px;
}
#u350-17 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:309px;
  width:300px;
  height:100px;
}
#u350-18 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:309px;
  width:300px;
  height:100px;
}
#u350-19 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:309px;
  width:300px;
  height:100px;
}
#u350-20 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:309px;
  width:300px;
  height:100px;
}
#u350-21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:412px;
  width:300px;
  height:100px;
}
#u350-22 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:412px;
  width:300px;
  height:100px;
}
#u350-23 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:412px;
  width:300px;
  height:100px;
}
#u350-24 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:412px;
  width:300px;
  height:100px;
}
#u350-25 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:412px;
  width:300px;
  height:100px;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:1500px;
  height:512px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:152px;
  background:inherit;
  background-color:rgba(239, 79, 69, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:152px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:94px;
  background:inherit;
  background-color:rgba(153, 37, 29, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:921px;
  width:1500px;
  height:94px;
  display:flex;
  color:#F2F2F2;
}
#u358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:948px;
  width:40px;
  height:40px;
  display:flex;
}
#u359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:948px;
  width:40px;
  height:40px;
  display:flex;
}
#u360 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:948px;
  width:40px;
  height:40px;
  display:flex;
}
#u361 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:948px;
  width:40px;
  height:40px;
  display:flex;
}
#u362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:968px;
  width:442px;
  height:27px;
  display:flex;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u363 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:968px;
  width:196px;
  height:26px;
  display:flex;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
#u364 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:968px;
  width:157px;
  height:26px;
  display:flex;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
#u365 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:968px;
  width:201px;
  height:26px;
  display:flex;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
#u366 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:110px;
  background:inherit;
  background-color:rgba(153, 37, 29, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Bold", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:80px;
  color:#FFFFFF;
  text-align:center;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:1500px;
  height:110px;
  display:flex;
  font-family:"Comic Sans MS Bold", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:80px;
  color:#FFFFFF;
  text-align:center;
}
#u367 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
  text-align:center;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:167px;
  width:740px;
  height:76px;
  display:flex;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
  text-align:center;
}
#u368 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:44px;
  width:88px;
  height:37px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u370 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u370_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(153, 37, 29, 0.996078431372549);
}
#u371 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:51px;
  width:68px;
  height:23px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(153, 37, 29, 0.996078431372549);
}
#u371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u371_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(153, 37, 29, 0.996078431372549);
}
#u372 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:51px;
  width:60px;
  height:23px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(153, 37, 29, 0.996078431372549);
}
#u372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u372_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(153, 37, 29, 0.996078431372549);
}
#u373 {
  border-width:0px;
  position:absolute;
  left:1281px;
  top:51px;
  width:105px;
  height:23px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(153, 37, 29, 0.996078431372549);
}
#u373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u373_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(153, 37, 29, 0.996078431372549);
}
#u374 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:51px;
  width:57px;
  height:23px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(153, 37, 29, 0.996078431372549);
}
#u374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u374_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:56px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:1428px;
  top:35px;
  width:58px;
  height:56px;
  display:flex;
}
#u375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(153, 37, 29, 0.996078431372549);
}
#u376 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:51px;
  width:82px;
  height:23px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(153, 37, 29, 0.996078431372549);
}
#u376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u376_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:149px;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-12px;
  width:176px;
  height:149px;
  display:flex;
}
#u377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
