body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1500px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
  display:flex;
}
.u394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
.u395 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:50px;
  width:166px;
  height:35px;
  display:flex;
  color:#8C8C8C;
}
.u395 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#8C8C8C;
}
.u396 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:12px;
  width:156px;
  height:23px;
  display:flex;
  font-family:"Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#8C8C8C;
}
.u396 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u396_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:80px;
}
.u397 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:90px;
  height:80px;
  display:flex;
}
.u397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u392-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u392-2 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:300px;
  height:100px;
}
#u392-3 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:300px;
  height:100px;
}
#u392-4 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:0px;
  width:300px;
  height:100px;
}
#u392-5 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:0px;
  width:300px;
  height:100px;
}
#u392-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:103px;
  width:300px;
  height:100px;
}
#u392-7 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:103px;
  width:300px;
  height:100px;
}
#u392-8 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:103px;
  width:300px;
  height:100px;
}
#u392-9 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:103px;
  width:300px;
  height:100px;
}
#u392-10 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:103px;
  width:300px;
  height:100px;
}
#u392-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:206px;
  width:300px;
  height:100px;
}
#u392-12 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:206px;
  width:300px;
  height:100px;
}
#u392-13 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:206px;
  width:300px;
  height:100px;
}
#u392-14 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:206px;
  width:300px;
  height:100px;
}
#u392-15 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:206px;
  width:300px;
  height:100px;
}
#u392-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:309px;
  width:300px;
  height:100px;
}
#u392-17 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:309px;
  width:300px;
  height:100px;
}
#u392-18 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:309px;
  width:300px;
  height:100px;
}
#u392-19 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:309px;
  width:300px;
  height:100px;
}
#u392-20 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:309px;
  width:300px;
  height:100px;
}
#u392-21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:412px;
  width:300px;
  height:100px;
}
#u392-22 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:412px;
  width:300px;
  height:100px;
}
#u392-23 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:412px;
  width:300px;
  height:100px;
}
#u392-24 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:412px;
  width:300px;
  height:100px;
}
#u392-25 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:412px;
  width:300px;
  height:100px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:1500px;
  height:512px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:152px;
  background:inherit;
  background-color:rgba(239, 79, 69, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:152px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:147px;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:137px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:1435px;
  top:19px;
  width:50px;
  height:50px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  color:transparent;
}
#u401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u401_img.mouseOver {
}
#u401.mouseOver {
}
#u401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 187, 84, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#000000;
  text-align:center;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:26px;
  width:113px;
  height:43px;
  display:flex;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#000000;
  text-align:center;
}
#u402 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:55px;
  background:inherit;
  background-color:rgba(204, 49, 39, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:82px;
  width:170px;
  height:55px;
  display:flex;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u403 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u403_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:55px;
  background:inherit;
  background-color:rgba(204, 49, 39, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u403.mouseOver {
}
#u403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:55px;
  background:inherit;
  background-color:rgba(204, 49, 39, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:82px;
  width:170px;
  height:55px;
  display:flex;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u404 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u404_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:55px;
  background:inherit;
  background-color:rgba(204, 49, 39, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u404.mouseOver {
}
#u404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:55px;
  background:inherit;
  background-color:rgba(204, 49, 39, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:82px;
  width:170px;
  height:55px;
  display:flex;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u405 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u405_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:55px;
  background:inherit;
  background-color:rgba(204, 49, 39, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u405.mouseOver {
}
#u405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:55px;
  background:inherit;
  background-color:rgba(204, 49, 39, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:82px;
  width:170px;
  height:55px;
  display:flex;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u406 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u406_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:55px;
  background:inherit;
  background-color:rgba(204, 49, 39, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u406.mouseOver {
}
#u406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:55px;
  background:inherit;
  background-color:rgba(204, 49, 39, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:82px;
  width:170px;
  height:55px;
  display:flex;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u407 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u407_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:55px;
  background:inherit;
  background-color:rgba(204, 49, 39, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u407.mouseOver {
}
#u407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:55px;
  background:inherit;
  background-color:rgba(204, 49, 39, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:82px;
  width:170px;
  height:55px;
  display:flex;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u408 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u408_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:55px;
  background:inherit;
  background-color:rgba(204, 49, 39, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u408.mouseOver {
}
#u408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:55px;
  background:inherit;
  background-color:rgba(204, 49, 39, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:82px;
  width:322px;
  height:55px;
  display:flex;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u409_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:55px;
  background:inherit;
  background-color:rgba(204, 49, 39, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u409.mouseOver {
}
#u409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:94px;
  background:inherit;
  background-color:rgba(204, 49, 39, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:transparent;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:921px;
  width:1500px;
  height:94px;
  display:flex;
  color:transparent;
}
#u410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:948px;
  width:40px;
  height:40px;
  display:flex;
}
#u411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:948px;
  width:40px;
  height:40px;
  display:flex;
}
#u412 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:948px;
  width:40px;
  height:40px;
  display:flex;
}
#u413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:948px;
  width:40px;
  height:40px;
  display:flex;
}
#u414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:66px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:940px;
  width:61px;
  height:56px;
  display:flex;
}
#u415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:968px;
  width:442px;
  height:27px;
  display:flex;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u416 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:968px;
  width:196px;
  height:26px;
  display:flex;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u417 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:968px;
  width:157px;
  height:26px;
  display:flex;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u418 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:968px;
  width:201px;
  height:26px;
  display:flex;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u419 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:110px;
  background:inherit;
  background-color:rgba(239, 79, 69, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Bold", "Comic Sans MS Regular", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:80px;
  color:#FFFFFF;
  text-align:center;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:1500px;
  height:110px;
  display:flex;
  font-family:"Comic Sans MS Bold", "Comic Sans MS Regular", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:80px;
  color:#FFFFFF;
  text-align:center;
}
#u420 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
  text-align:center;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:167px;
  width:740px;
  height:76px;
  display:flex;
  font-family:"Raleway Bold", "Raleway Regular", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
  text-align:center;
}
#u421 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
