body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1513px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:519px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:344px;
  width:324px;
  height:519px;
  display:flex;
}
#u489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u490_input {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:61px;
  padding:2px 2px 2px 2px;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u490_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:61px;
  padding:2px 2px 2px 2px;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u490_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:61px;
  padding:2px 2px 2px 2px;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u490_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:61px;
  padding:2px 2px 2px 2px;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:344px;
  width:381px;
  height:61px;
  display:flex;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u490_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u490.hint {
}
#u490_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:61px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u490.disabled {
}
#u490_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:61px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u490.hint.disabled {
}
#u491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:47px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:914px;
  width:130px;
  height:47px;
  display:flex;
  font-size:25px;
}
#u491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:61px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:344px;
  width:149px;
  height:61px;
  display:flex;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#000000;
  text-align:left;
}
#u492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:61px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:1063px;
  top:344px;
  width:297px;
  height:61px;
  display:flex;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#000000;
  text-align:left;
}
#u493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u494_input {
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:214px;
  padding:2px 2px 2px 2px;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u494_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:214px;
  padding:2px 2px 2px 2px;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u494_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:214px;
  padding:2px 2px 2px 2px;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u494_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:214px;
  padding:2px 2px 2px 2px;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:214px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:433px;
  width:851px;
  height:214px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u494 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u494_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:214px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u494.hint {
}
#u494_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:214px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u494.disabled {
}
#u494_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:214px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u494.hint.disabled {
}
#u495_input {
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:214px;
  padding:2px 2px 2px 2px;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u495_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:214px;
  padding:2px 2px 2px 2px;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u495_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:214px;
  padding:2px 2px 2px 2px;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u495_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:214px;
  padding:2px 2px 2px 2px;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:214px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:647px;
  width:851px;
  height:214px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u495 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u495_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:214px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u495.hint {
}
#u495_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:214px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u495.disabled {
}
#u495_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:851px;
  height:214px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
}
#u495.hint.disabled {
}
#u496 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:152px;
  background:inherit;
  background-color:rgba(239, 79, 69, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:152px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:110px;
  background:inherit;
  background-color:rgba(153, 37, 29, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Bold", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:80px;
  color:#FFFFFF;
  text-align:center;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:152px;
  width:1500px;
  height:110px;
  display:flex;
  font-family:"Comic Sans MS Bold", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:80px;
  color:#FFFFFF;
  text-align:center;
}
#u498 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
  text-align:center;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:167px;
  width:740px;
  height:76px;
  display:flex;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
  text-align:center;
}
#u499 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:94px;
  background:inherit;
  background-color:rgba(153, 37, 29, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:1040px;
  width:1500px;
  height:94px;
  display:flex;
  color:#F2F2F2;
}
#u500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:1054px;
  width:40px;
  height:40px;
  display:flex;
}
#u501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:1054px;
  width:40px;
  height:40px;
  display:flex;
}
#u502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1054px;
  width:40px;
  height:40px;
  display:flex;
}
#u503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:1054px;
  width:40px;
  height:40px;
  display:flex;
}
#u504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:1074px;
  width:442px;
  height:27px;
  display:flex;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u505 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:1074px;
  width:196px;
  height:26px;
  display:flex;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
#u506 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:1074px;
  width:157px;
  height:26px;
  display:flex;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
#u507 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:1074px;
  width:201px;
  height:26px;
  display:flex;
  font-family:"Raleway Bold", "Raleway", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
}
#u508 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:44px;
  width:88px;
  height:37px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u510 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u510_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(153, 37, 29, 0.996078431372549);
}
#u511 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:51px;
  width:68px;
  height:23px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(153, 37, 29, 0.996078431372549);
}
#u511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u511_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(153, 37, 29, 0.996078431372549);
}
#u512 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:51px;
  width:60px;
  height:23px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(153, 37, 29, 0.996078431372549);
}
#u512 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u512_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(153, 37, 29, 0.996078431372549);
}
#u513 {
  border-width:0px;
  position:absolute;
  left:1281px;
  top:51px;
  width:105px;
  height:23px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(153, 37, 29, 0.996078431372549);
}
#u513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u513_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(153, 37, 29, 0.996078431372549);
}
#u514 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:51px;
  width:57px;
  height:23px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(153, 37, 29, 0.996078431372549);
}
#u514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u514_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:56px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:1428px;
  top:35px;
  width:58px;
  height:56px;
  display:flex;
}
#u515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(153, 37, 29, 0.996078431372549);
}
#u516 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:51px;
  width:82px;
  height:23px;
  display:flex;
  font-family:"Raleway", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(153, 37, 29, 0.996078431372549);
}
#u516 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u516_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:149px;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-12px;
  width:176px;
  height:149px;
  display:flex;
}
#u517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
